/* Main App styles */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
.loader {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b0f19;
  color: white;
  font-size: 1.5rem;
}
